.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}

.bottomElement {
    width: 100%;
    height: 5%;
    margin: 2px;
    text-align: center;
}

.thesis-content {
    height: 600px;
    padding: 16px;
    margin: 16px;
    background: white;
}

.comment-content {
    height: 600px;
    padding: 16px;
    margin: 16px;
    background: white;
}

.comment-content-inner {
    overflow: scroll;
    height: 530px;
    margin: 0;

}

.centering {
    justify-content: center;
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
    color: transparent;
}